version: '3.8'

services:
  db:
    image: postgres:alpine
    container_name: my-postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: strong_secret_pass
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data: